<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>PKMidiCron</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
	<string>PKMidiCron</string>
	<key>LSBackgroundOnly</key>
	<string>0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleIdentifier</key>
	<string>com.vedanamedia.PKMidiCron</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleExecutable</key>
	<string>MacOS/PKMidiCron</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>icon.incs</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-pmc</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pmc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PKMidiCron Patch</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PMC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
</dict>
</plist>
